@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500;900&display=swap');

*, *:after { box-sizing: border-box; }
body {
  background-color: white;
  color: black;
  display: flex;flex-direction: column;
  flex: 1 auto 1;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

header, main, footer {
  padding: 0 0.75rem;
}

@media screen and (min-width: 100ch) {
  header, main, footer {
    padding: 0 calc((100% - 80ch) / 2);
  }
}

header {
  background-color: #0a0a55;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

header h1 {
  font-weight: 900;
  line-height: 1;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
@media screen and (min-width:100ch) {
  header h1 {
    font-size: 3rem;
  }
}
main {
  flex: 1;
  padding-top: 1rem;
}

main p.intro {
  font-size: 1.25rem;
}
@media screen and (min-width: 100ch) {
  main p, main ul, main ol {
    font-size: 1.5rem;
  }

  main p.intro {
    font-size: 2rem;
  }
  
  main h2 {
    font-size: 2.25rem;
    line-height: 1;
    padding: 0;
    margin-bottom: 0;
  }

}

footer {
  background-color: #0a0a55;
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
footer p {
  margin: 0 auto;
}
footer p a { 
  color: whitesmoke;
}
footer p a:link {
  color: whitesmoke;
}
footer p a:visited {
  color: aliceblue;
}
