{{page-title "An introduction to accessibility for people who aren't technical"}}

<header>
  <h1>What is Accessibility?</h1>
</header>
<main>
  <p class="intro">If you're here, you're looking for the answer to "What is accessibility?"
    Maybe you have a friend or a family member who works in accessibility and you want to know what that really means.
    Maybe you have heard it mentioned in the news or on the internet, but you're just not clear about what it is referring to.
    Either way, welcome!
  </p>
  <p>
    Accessibility can mean a few things, but in this case we can divide it into two sub-sections: access to a <em>physical</em> space, or access to a <em>digital</em> space.
    If you know someone who writes code for a living and works in accessibility, we're talking about digital accessibility.
    This can be shortened to accessibility, or even "a11y" (pronounced a-eleven-y) for short.
    That's because there are 11 letters between the letter "a" and the letter "y" in the word accessibility!
    It was adopted as a shorthand hashtag because social media platforms tend to restrict the number of characters that can be included in a message.
  </p>
  <p>
    If someone works in digital accessibility, that means they work to improve websites for people who need assistive technology.
    Assistive technology comes in many forms, but for the purposes of the web, here are a few examples of assistive technology that help people use the web:
  </p>
  <ul>
    <li>braille displays</li>
    <li>screen-reading software</li>
    <li>screen magnifiers</li>
    <li>speech to text translators</li>
  </ul>
  <p>Really, we can all face limited abilities of some sort during different times in our lives.
    Microsft has described this as "a mismatch between a user and the device they are trying to use" and I think that's a really great way to put it.
    Here are some examples:
  </p>
  <ul>
    <li>You have a broken arm</li>
    <li>You are holding a baby</li>
    <li>You have repetitive-stress-injury and need to limit the amount of time you spend at a computer</li>
    <li>You are colorblind</li>
    <li>You are near-sighted or far-sighted and need increased contrast to see the items on the screen</li>
    <li>You are outside and the sun is really bright and it's difficult to see your phone's browser screen</li>
    <li>You are in a quiet place, forgot your headphones, and need closed-captions because you need to watch a video</li>
    <li>You can't hear very well, and closed-captions help you participate in a video-based world</li>
    <li>You have a hard time concentrating, so you need instructions on a website to be clear to understand</li>
  </ul>
  <p>As you can see, this includes a lot more situations than one might think! </p>

</main>
<footer>
  <p><small>&copy; 2021 by <a href="https://melanie.codes" rel="external">Melanie Sumner</a>.</small></p>
</footer>

{{outlet}}