{{page-title "A brief introduction to digital (web) accessibility for everyone"}}

<header>
  <h1>What is Accessibility?</h1>
</header>
<main>
  <p class="intro">If you're here, you're looking for the answer to "What is accessibility?"
    Maybe you have a friend or a family member who works in web accessibility and you want to know what that really means.
    Maybe you have heard it mentioned in the news or on the internet, but you're just not clear about what it is referring to.
  </p>
  <p>
    Accessibility can be divided it into two sub-sections: access to a <em>physical</em> space, or access to a <em>digital</em> space.
    If you know someone who writes code for a living and works in accessibility, we're talking about digital accessibility, or web accessibility.
    </p>
    <p>
    Fun fact: There are 11 letters between the letter "a" and the letter "y" in the word accessibility! That's why you will sometimes see accessibility referred to as "a11y" (pronounced a-eleven-y). It was adopted as a hashtag because social media platforms tend to restrict the number of characters that can be included in a message.
  </p>
  <p>
    If someone works in digital accessibility, that means they typically work to improve websites for people who need assistive technology.
    Assistive technology comes in many forms, but for the purposes of the web, here are a few examples of assistive technology that help people use the web:
  </p>
  <ul>
    <li>braille displays</li>
    <li>screen-reading software</li>
    <li>screen magnifiers</li>
    <li>speech to text translators</li>
  </ul>
  <p>Really, though, we can all face limited abilities of some sort during different times in our lives.
    Microsft has described this as "a mismatch between a user and the device they are trying to use" and I think that's a really great way to put it.
    Here are some examples:
  </p>
  <ul>
    <li>A person with a broken arm</li>
    <li>A person holding a baby</li>
    <li>A person with repetitive-stress-injury that needs to limit the amount of time spent at a computer</li>
    <li>A person who is colorblind</li>
    <li>A person who needs increased color contrast to see the items on the screen</li>
    <li>Someone who is outside in the bright sun and is trying to view the screen of their mobile device.</li>
    <li>A person in a quiet place who forgot their headphones, so they need closed-captions to watch a video</li>
    <li>A person who can't hear very well; closed-captions help them participate in a video-based world</li>
    <li>A person who has a hard time concentrating and needs instructions on a website to be easy to understand</li>
  </ul>
  <p>As you can see, this includes a lot more situations than one might think! </p>
  <p>There are also some laws that protect users; these vary by country.
    In the United States, there are laws like the <a href="https://www.ada.gov/" rel="external">Americans with Disabilities Act</a>, which is a civil rights law that prohibits discrimination based on a disability.
  </p>
  <h2>Learn More</h2>
  <p>If you want to learn more about digital accessibility, here are some resources to get you started:</p>
  <ol>
    <li><a href="https://www.microsoft.com/design/inclusive/" rel="external">Microsoft: Inclusive Design</a></li>
    <li><a href="https://www.w3.org/WAI/standards-guidelines/aria/" rel="external">The Web Accessibility Initiative (WAI)</a></li>
    <li><a href="https://www.youtube.com/watch?v=q_ATY9gimOM" rel="external">What it's like to use a screen reader (video)</a></li>
  </ol>
</main>
<footer>
  <p>&copy; 2021 by <a href="https://melanie.codes" rel="external">Melanie Sumner</a>.</p>
</footer>
